@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary:#066ac9;
}

body{
  background-color: #f0f0f0 !important;
}

/* active link */
.active{
  background-color: var(--primary);
  color: white !important;
}